In [1]:
"""
Given two strings, A and B, of the same length n, find whether it is possible to cut both strings at a common point such that
the first part of A and the second part of B form a palindrome.
"""

'\nGiven two strings, A and B, of the same length n, find whether it is possible to cut both strings at a common point such that\nthe first part of A and the second part of B form a palindrome.\n'

In [2]:
def isPalindrome(string):
    return string == string[::-1]

In [5]:
def commonStr(stra, strb):
    i = 0
    while i < len(stra):
        strn = stra[:i] + strb[i:]
        if isPalindrome(strn):
            return strn
        i += 1
    return ""

In [9]:
print(commonStr("abcxyz", "rtacba"))

abccba

In [10]:
print(commonStr("xyzzab", "asdfyx"))

xyzzyx

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("sample.csv")

In [13]:
df

,Unnamed: 0,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,0,1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
1,1,2,2012.916667,19.5,306.59470,9,24.98034,121.53951,42.2
2,2,3,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
3,3,4,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
4,4,5,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...,...,...
409,409,410,2013.000000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,410,411,2012.666667,5.6,90.45606,9,24.97433,121.54310,50.0
411,411,412,2013.250000,18.8,390.96960,7,24.97923,121.53986,40.6
412,412,413,2013.000000,8.1,104.81010,5,24.96674,121.54067,52.5
413,413,414,2013.500000,6.5,90.45606,9,24.97433,121.54310,63.9

1. PCA
2. (Categorization)
3. Scaling

In [36]:
from sklearn.linear_model import LinearRegression

In [37]:
X = df[["X1 transaction date", "X2 house age", "X3 distance to the nearest MRT station", "X4 number of convenience stores", "X5 latitude", "X6 longitude"]]

In [38]:
y = df[["Y house price of unit area"]]

In [46]:
from sklearn.model_selection import train_test_split

In [47]:
X_train, X_test = train_test_split(X)
y_train, y_test = train_test_split(y)

In [48]:
model_linreg = LinearRegression()

In [49]:
model_linreg.fit(X_train, y_train)

LinearRegression()

In [50]:
y_pred = model_linreg.predict(X_test)

In [51]:
from sklearn.metrics import mean_squared_error

In [52]:
mean_squared_error(y_test, y_pred)

137.04120876305223

In [53]:
# [120:250]

In [54]:
"""
EVENT | TIMESTAMP  | WEIGHT
Admit | ts1        | 0.9
Med1  | ts2        | 0.4
Med1  | ts2        | 0.4
"""

'\nEVENT | TIMESTAMP  | WEIGHT\nAdmit | ts1        | 0.9\nMed1  | ts2        | 0.4\nMed1  | ts2        | 0.4\n'

Model(BiLSTM(), Dense(1, activation='sigmoid'))